@charset "UTF-8";

.que.upchecker .uc-clear {
    clear: both;
}

.que.upchecker .questionframe {
    width: 100%;
    height: 400px;
}

.que.upchecker .itemcontainer {
    margin-bottom: 1em;
}
.que.upchecker .itemlabel {
    font-weight: bold;
}
.que.upchecker .itemcontent {
    margin-left: 0.5em;
}
